.lg-visible, .lg-visible-flex{ display: none !important; }

@media screen and (max-width: 1329px){
	.lg-hidden{ display: none !important; }
	.lg-visible{ display: block !important; }
	.lg-visible-flex{ display: flex !important; }
}

.md-visible, .md-visible-flex{ display: none !important; }

@media screen and (max-width: 1023px){
	.md-hidden{ display: none !important; }
	.md-visible{ display: block !important; }
	.md-visible-flex{ display: flex !important; }
}

.sm-visible, .sm-visible-flex{ display: none !important; }

@media screen and (max-width: 767px){
	.sm-hidden{ display: none !important; }
	.sm-visible{ display: block !important; }
	.sm-visible-flex{ display: flex !important; }
}

.xs-visible, .xs-visible-flex, .xs-visible-inline{ display: none !important; }

@media screen and (max-width: 575px){
	.xs-hidden{ display: none !important; }
	.xs-visible{ display: block !important; }
	.xs-visible-flex{ display: flex !important; }
	.xs-visible-inline{ display: inline !important; }
}

.sub-xs-visible, .sub-xs-visible-flex{ display: none !important; }

@media screen and (max-width: 575px){
	.sub-xs-hidden{ display: none !important; }
	.sub-xs-visible{ display: block !important; }
	.sub-xs-visible-flex{ display: flex !important; }
}

@media screen and (max-width: 575px){
	.xs-flex-right{
		margin-left: auto;
	}
}

a[href^="tel"]{
	white-space: nowrap;
}

// Colors
.clr-light{
	color: $text-light;
}