@font-face{
	font-family: 'Ploni'; 
	src: url('../fonts/ploni-regular-aaa.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'Ploni'; 
	src: url('../fonts/ploni-bold-aaa.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 700;
}

@font-face{
	font-family: 'Ploni'; 
	src: url('../fonts/ploni-medium-aaa.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 500;
}