@mixin p{
	font-size: 1.1458vw;
	line-height: 1.36;

	@media screen and (max-width: 991px){
		font-size: 5.5556vw;
	}
}

body{
	font-family: $main-font;
	color: $text-color;

	@include p;
}

@mixin h1{
	font-size: 4.4271vw;
	line-height: 1.2;
	padding-bottom: 3.1250vw;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 500;

	@media screen and (max-width: 991px){
		font-size: 13.3333vw;
	}
}

@mixin h2{
	font-size: 4.4271vw;
	line-height: 1.1;
	font-weight: 300;
	font-style: italic;

	@media screen and (max-width: 991px){
		font-size: 13.3333vw;
	}
}

@mixin h3{
	font-size: 2.5000vw;
	line-height: 1;
	font-weight: 500;
	font-style: italic;

	@media screen and (max-width: 991px){
		font-size: 7.7778vw;
	}
}

@mixin tech-title{
	@include h3;
	position: relative;
	padding-bottom: 1.9271vw;
	max-width: 71vw;

	sup {
		font-size: 0.49em;
	}

	&::after {
		content: "";
		display: block;
		width: 6.3542vw;
		height: 0.4167vw;
		position: absolute;
		left: 0;
		top: calc(100% + 0.05vw);
		background: #00d0e0;
	}

	@media screen and (max-width: 991px){
		padding-bottom: 5vw;

		&:after{
			width: 13vw;
			height: 2vw;
		}
	}
}

// @mixin h4{
// 	font-size: 1.0417vw;
// 	line-height: 1.4;
// 	font-weight: bold;
// }

@mixin default-ul{
	font-size: 1.5625vw;
	line-height: 1.5;
	font-weight: 500;
	font-style: italic;

	li{
		margin-bottom: 0.5em;

		&:last-child{
			margin-bottom: 0;
		}

		&:before{
			font-weight: 800;
			content: '• ';
			font-style: normal;
			// transform: translateY(-0.3em);
			display: inline-block;
		}
	}

	@media screen and (max-width: 991px){
		font-size: 5.5556vw;
	}
}

.tpg{
	p{
		margin-bottom: 1.36em;
		@include p;

		&:last-child{
			margin-bottom: 0;
		}
	}

	h1{
		@include h1;
		margin-bottom: 1em;
	}

	h2{
		@include h2;
		margin-bottom: 1em;

		&:not(:first-child){
			margin-top: 3em;
		}
	}
}

.page-caption{
	@include h1;
	position: relative;

	&:after{
		content: '';
		display: block;
		width: 89.4792vw;
		height: 3.1771vw;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url(../img/decorations/grundge-line.png) no-repeat center center / contain;
	}

	strong{
		font-weight: inherit;
	}
}

.small-page-caption{
	@include h3;
	position: relative;
	padding-bottom: 1.7vw;
	text-transform: none;
	font-variant: small-caps;
	font-weight: 500;

	strong{
		font-weight: inherit;
	}

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 3.1771vw;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url(../img/decorations/grundge-line.png) no-repeat left center / cover;
	}
}

.small-caption{
	padding-bottom: 1.5625vw;
	position: relative;
	font-size: 2.5000vw;
	line-height: 1.2;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 2.8646vw;
	margin-right: auto;
	display: inline-flex;

	&:after{
		content: '';
		display: block;
		width: calc(89.4792vw - 2.6042vw);
		height: 3.1771vw;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url(../img/decorations/grundge-line-small.png) no-repeat center center / contain;
	}

	@media screen and (max-width: 991px){
		font-size: 8.333vw;
		padding-bottom: 4vw;
		margin-bottom: 6vw;

		&:after{
			width: 100%;
			height: 4vw;
		}
	}
}
