.about-section {
    &:first-child {
        .about-section-text {
            margin-top: 9.1146vw;
        }
    }
    .about-section-text {
        margin-top: 2.3438vw;
        margin-bottom: 8.8542vw;
        max-width: 65.6250vw;
        p{
            font-size: 1.2500vw;
            font-style: italic;
            font-weight: 500;
            +p{
                margin-top: 1.5625vw;
            }
        }
    }
}