.application,
.page-template-applications {
	.search-section {
		&::before {
			content: "";
			position: absolute;
			right: 0;
			top: 10.271vw;
			background-image: url(../img/decorations/Applications-decor-new.png);
			background-repeat: no-repeat;
			background-size: cover;
			width: 29.0833vw;
			height: 39.7917vw;
			z-index: -1;
		}
	}

	.info-section{ 
		.info-section-right {
			text-align: left;
			padding-left: 0.7813vw;
			max-height: 32.2396vw;
		}
		.info-section-left {
			max-width: 67.7083vw;
			.info-section-img {
				margin-right: 5.7292vw;
			}
		}

		@media screen and (max-width: 991px){
			.info-section-right{
				padding-left: 0;
				max-height: unset;
			}

			.info-section-list-box{
				margin-bottom: 8vw;
			}

			.info-section-left{
				max-width: unset;

				.info-section-img{
					margin-right: 0;
					bottom: 5vw;
				}
			}
		}
	}

	.container{
		position: relative;
		z-index: 2;
	}
}