.benefits-section{
	.section-content{
		background: url(../img/backgrounds/benefits-bg.jpg) no-repeat center center / cover;
		// height: 54.8438vw;
		display: flex;
		align-items: center;
		padding: 5.2083vw 7.5521vw;

		@media screen and (min-width: 992px){
			background-attachment: fixed;
		}

		@media screen and (max-width: 991px){
			padding: 27.7778vw 5.555vw;
			height: auto;

			background: url(../img/backgrounds/benefits-gradient.jpg) repeat-y center top / 100% auto;
		}
	}
}

.benefits-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5625vw;

	@media screen and (max-width: 991px){
		grid-template-columns: 1fr;
		grid-gap: 22.2222vw;
	}
}

.benefit-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.card-image{
		width: 10.0000vw;
		height: 10.0000vw;
		margin-bottom: 2.6042vw;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.card-caption{
		margin-bottom: 2.6042vw;
		font-weight: 400;
		font-size: 2.5000vw;
		line-height: 1.2;
	}

	p{
		font-size: 1.2500vw;
		line-height: 1.25;
	}

	@media screen and (max-width: 991px){
		.card-image{
			width: 47.2222vw;
			height: 47.2222vw;
			margin-bottom: 8.3333vw;

			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center center;
			}
		}

		.card-caption{
			font-size: 11.1111vw;
			margin-bottom: 5.5556vw;
		}

		p{
			font-size: 6.6667vw;
			line-height: 1.25;
		}
	}
}