.contacts-section{
	margin-top: 9.3750vw;
	padding: 9.1146vw 0 5.2083vw;
	position: relative;

	&:after{
		content: '';
		display: block;
		width: 28.9063vw;
		height: 39.7396vw;
		background: url(../img/backgrounds/contact-section-bg.jpg) no-repeat center center / cover;
		position: absolute;
		right: 0;
		top: 0;
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.page-caption{
		margin-bottom: 9.8958vw;
	}
}

.contacts-form{
	.form-fields{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2.0833vw;

		.wide{
			grid-column: 1 / -1;
		}
	}

	.form-agreement{
		margin-top: 1.0417vw;
	}

	.form-footer{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 1.3021vw;

		.btn{
			width: 100%;
			max-width: 14.3229vw;
		}
	}
}