.default-section-header{
	display: flex;
	align-items: stretch;
	border-bottom: 0.1042vw solid var(--header-border-color, #aab2b4);

	.section-header-number{
		width: 18.7500vw;
		min-height: 11.4583vw;
		position: relative;
		flex: none;
		border-right: 0.1042vw solid var(--header-border-color, #aab2b4);

		.number{
			font-size: 10.4167vw;
			font-weight: 500;
			color: var(--header-number-color, #{ $text-light });
			transform: translateX(0.13em);
			line-height: 11.4583vw;
			font-weight: 500;
		}

		.text{
			font-size: 1.2500vw;
			height: 11.4583vw;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			transform: translateY(-45%);
			right: 1.3021vw;
			font-weight: 500;
			letter-spacing: 0.03em;
			font-style: italic;
			text-transform: uppercase;
		}
	}

	.section-header-content{
		position: relative;
		padding: 0 6.5104vw;
		display: flex;
		align-items: center;

		&:after{
			content: '';
			display: block;
			width: 6.3542vw;
			height: 0.4167vw;
			position: absolute;
			left: 0;
			bottom: -1px;
			background: $primary;
		}
	}

	@media screen and (max-width: 991px){
		flex-direction: column;
		border-bottom: 0;
		padding-bottom: 6.6667vw;

		.section-header-number{
			width: 100%;
			border-right: 0;
			min-height: 38.8889vw;
			padding-left: 5.5556vw;

			.number{
				font-size: 37.2222vw;
				transform: translateX(0);
				line-height: 38.8889vw;
			}

			.text{
				font-size: 4.4444vw;
				letter-spacing: 0.3em;
				font-weight: 600;
				height: 38.8889vw;
				right: auto;
				left: 31.9444vw;
			}
		}

		.section-header-content{
			padding-top: 11.6667vw;
			padding-left: 5.555vw;
			padding-right: 5.555vw;

			&:after{
				bottom: auto;
				left: 5.5556vw;
				top: 0;
				width: 10.5556vw;
				height: 2.2222vw;
			}
		}
	}
}

.section-caption{
	.sc-title{
		@include h2;
		text-transform: uppercase;

		strong{
			font-weight: bold;
		}

		sup{
			font-size: 0.49em;
			transform: translate(0.2em, -0.2em);
			display: inline-block;
		}

		&.with-small-text{
			display: flex;
			// align-items: center;
			align-items: flex-end;
			// text-transform: none;

			strong{
				flex: none;
				margin-right: 1.8229vw;
				font-weight: inherit;
				display: block;
			}

			.small{
				@include h3;
				font-weight: 400;
				font-size: 1.75vw;
				text-transform: none;
				display: block;
				transform: translateY(-0.2em);
				max-width: 45vw;
			}

			@media screen and (max-width: 991px){
				flex-direction: column;
				align-items: stretch;

				strong{
					margin: 0 0 11.6667vw;
				}

				.small{
					font-size: 7.7778vw;
					transform: translateY(0);
				}
			}
		}
	}

	.sc-subtitle{
		font-size: 1.3125vw;
		line-height: 1.4;
		font-weight: 400;
		font-style: italic;

		@media screen and (max-width: 991px){
			font-size: 5.555vw;
		}
	}
}