.grafic-info {
	padding-top: 7.8125vw;
	padding-left: 8.3333vw;

	.grafic-info__header {
		padding-right: 2.6042vw;

		&-title {
			@include tech-title;
			text-transform: uppercase;
			font-weight: 600;
			max-width: none;
		}
		&-subtitle {
			padding-top: 2.6042vw;
			color: #231f20;
			font-size: 2.5000vw;
			line-height: 1.125em;
			font-style: italic;
		}
	}
	.grafic-info__content {
		display: flex;
		align-items: flex-end;
		padding-top: 4.1667vw;

		.data-info {
			padding-bottom: 5.9896vw;
			text-transform: uppercase;
			.gray {
				color: #717878;
			}
			.blue {
				color: #3ebcba;
			}
			.green {
				color: #a9c73e;
			}
		}
	}

	@media screen and (max-width: 991px){
		.grafic-info__header{
			padding-right: 0;

			&-subtitle{
				padding-top: 5vw;
				font-size: 6vw;
			}
		}

		.grafic-info__content{
			flex-direction: column;
			align-items: stretch;
			padding-top: 10vw;

			.data-info{
				padding-bottom: 13vw;
			}
		}
	}
}

.grafic{
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}