.info-section {
	// position: relative;
	// z-index: 20;

	+.info-section {
		.info-section-wrrap { 
			// margin-bottom: 2.8646vw;
			margin-bottom: 3vw;

			@media screen and (max-width: 991px){
				margin-bottom: 10vw;
			}
		}
	}

	.info-section-wrrap {
		margin-top: 2.9167vw; 
		// padding-bottom: 5.2083vw;
		padding-bottom: 3vw;
		margin-bottom: 3.9063vw;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			width: calc(100% + 3.6458vw);
			height: 0.1042vw;
			background: #8e9193;
			bottom: 0;
			left: -1.8229vw;
		}

		@media screen and (max-width: 991px){
			margin-top: 7vw;
			padding-bottom: 15vw;
			margin-bottom: 8vw;

			&:after{
				width: calc(100% + 10vw);
				left: -5vw;
				height: 0.4vw;
			}
		}
	}

	.info-section-top {
		display: flex; 

		@media screen and (max-width: 991px){
			display: block;
		}

		.info-section-left {
			display: flex;
			max-width: 56.5104vw;
			padding-right: 2.8646vw;
			padding-bottom: 5.8854vw;
			.info-section-img {
				width: 16.2500vw;
				height: 16.2500vw;
				margin-right: 2.6042vw;
				margin-top: 2.2917vw;
			}
			.info-section-text {
				font-size: 1.2500vw;
				font-style: italic;
				font-weight: 500;
				line-height: 1.5;
				p {
					+p {
						margin-top: 1.5em;
					}
				}
				ul{
					margin: 1.8750vw 0;
					padding-left: 2.0833vw;
					max-width: 27.8646vw;
					li{
						&:before{
							content: '• ';
						}
					}
				}
			}

			@media screen and (max-width: 991px){
				max-width: unset;
				padding-right: 0;
				padding-bottom: 12vw;
				display: block;

				.info-section-img{
					width: 100%;
					margin-right: 0;
					margin-top: 0;
					margin-bottom: 8vw;
					height: auto;
				}

				.info-section-text{
					@include p;

					ul{
						margin: 4vw 0;
						padding-left: 5vw;
						max-width: unset;
					}
				}
			}
		}

		.info-section-right {
			text-align: center;
			padding-left: 2.6042vw;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			border-left: 0.1563vw dotted #b3b2b2;

			.info-section-list-box {
				width: fit-content;
				min-width: 100%;
				font-size: 1.2500vw;
				padding-bottom: 2vw;

				.list-cation {
					font-weight: 700;
					padding-bottom: 1.0417vw;
					margin-bottom: 1.0417vw;
					border-bottom: 1px solid $primary;
					text-align: left;
				}
				.info-section-list {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: -1.3em;

					li {
						margin-right: 0.5em;
						margin-bottom: 0.8em;

						a{
							position: relative;
							padding: 0.2604vw 0.6771vw;
							min-width: 6.2500vw;
							border-radius: 0.5208vw;
							line-height: 1.3;
							background-color: $primary;
							color: #fff;
							font-size: 0.9375vw;
							width: fit-content;
							&::before {
								content: initial;
							}
						}
					}
				}
			}
			img {
				width: 100%;
				margin-bottom: 3.9063vw;
			}

			@media screen and (max-width: 991px){
				padding-left: 0;
				border-left: 0;

				.info-section-list-box{
					@include p;

					.list-cation{
						padding-bottom: 6vw;
						margin-bottom: 6vw;
					}

					.info-section-list{
						li{
							padding: 0.6vw 2vw;
							min-width: unset;
							border-radius: 1.5vw;
							@include p;
						}
					}
				}

				img{
					margin-bottom: 10vw;
				}
			}
		}
	}

	.info-section-bottom {
		display: flex;
		// max-width: 56.5104vw;
		// padding-right: 2.8646vw;
		.info-section-list-box {
			// width: fit-content;
			width: 100%;
			min-width: 19.7396vw; 
			font-size: 1.2500vw;
			+.info-section-list-box {
				@media screen and (min-width: 992px){
					margin-left: 3.3854vw;
				}
			}
			.list-cation {
				font-weight: 700;
				padding-bottom: 1.0417vw;
				margin-bottom: 1.0417vw;
				border-bottom: 1px solid $primary;
			}
			.info-section-list {
				li {
					position: relative;
					padding-left: 0.9375vw;
					line-height: 1.3;
					&::before {
						content: "• ";
						color: $primary;
						margin-left: -0.9375vw;
					}
					+li {
						margin-top: 0.2604vw;
					}
				}
			}
			@media screen and (min-width: 992px){
				&:last-child:first-child{
					ul{
						columns: 2;
						column-gap: 3vw;
					}
				}
			}
		}

		@media screen and (max-width: 991px){
			max-width: unset;
			padding-right: 0;
			display: grid;
			grid-gap: 5vw;
			margin-top: 10vw;

			.info-section-list-box{
				min-width: unset;
				@include p;
			}

			.list-cation{
				padding-bottom: 3vw;
				margin-bottom: 3vw;
			}

			.info-section-list{
				li{
					padding-left: 3vw;

					&:before{
						margin-left: -3vw;
					}

					+ li{
						margin-top: 0.6vw;
					}
				}
			}
		}
	}
}