.ingridients,
.page-template-ingredients {
	.search-section {
		&::before {
			content: "";
			position: absolute;
			right: 0;
			top: 10.0271vw;
			background-image: url(../img/decorations/Ingredients-decor.png);
			background-repeat: no-repeat;
			background-size: cover;
			width: 27.0833vw;
			height: 39.7917vw;
			z-index: -1;
		}

		.container{
			position: relative;
			z-index: 2;
		}
	}
}