.site-map-section{
	background: #484747;
	color: #fff;

	--header-number-color: transparent; //#404141
	--header-border-color: #34aaab;

	.section-header-content{
		flex: auto;
	}

	@media screen and (max-width: 991px){
		padding-bottom: 10vw;

		.default-section-header{
			padding-bottom: 0;
		}

		.default-section-header .section-header-number{
			min-height: 18vw;

			.number{
				display: none;
			}
		}
	}
}

.sitemap-block{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	.block-nav{
		display: flex;
		font-size: 1.2500vw;
		line-height: 1.25;
		font-weight: 600;
		text-transform: uppercase;

		li{
			margin-right: 1.8229vw;

			&:last-child{
				margin-right: 0;
			}

			a{
				color: inherit;

				&:hover,
				&:focus{
					color: $primary;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		flex-direction: column-reverse;
		align-items: stretch;

		.block-nav{
			font-size: 5.555vw;
			line-height: 1.5;
			display: block;
			margin-top: 10vw;

			li{
				margin-right: 0;
			}
		}
	}
}

.socials-list{
	display: grid;
	grid-gap: 0.9375vw;

	li{
		a{
			color: currentColor;

			&:hover,
			&:focus{
				color: $primary;
			}
		}

		.link-icon{
			width: 1.5375vw;
			height: 1.5375vw;
			fill: currentcolor;
		}
	}

	@media screen and (max-width: 991px){
		display: flex;
		grid-gap: 0;

		li{
			margin-right: 13.8889vw;

			&:last-child{
				margin-bottom: 0;
			}

			.link-icon{
				width: 5.555vw;
				height: 5.555vw;
			}
		}
	}
}