.solution-section{
	background: #eaeaea;

	--header-number-color: #d0d5d6;

	&.tech-page {
		padding-top: 9.8958vw;
		.section-image{
			padding-left: 22.1354vw;
		}
	}

	.section-content{
		padding: 4.6875vw 3.1250vw 3.1250vw;
	}

	.section-top{
		padding-left: 21.8750vw;
		@include h3;
	}

	.section-image{
		display: flex;
		padding-left: 9.1146vw;
		padding-bottom: 3.1250vw;

		img{
			flex: none;
			width: 35.8333vw;
			display: block;
			height: auto;
			margin-right: 5.6250vw;
		}
	}

	.solutions-list{
		padding-top: 11.4583vw;
		font-size: 1.8750vw;
		line-height: 1.4;
		font-weight: 500;
		font-style: italic;

		li{
			margin-bottom: 1.4em;
			position: relative;
			padding-right: 2.6042vw;

			&:before{
				content: '';
				display: block;
				width: 22.7604vw;
				height: 0.5729vw;
				background: url(../img/content-images/sphere-line.png) no-repeat right center / cover;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: calc(100% + 0.9375vw);
			}

			&:last-child{
				margin-bottom: 0;
			}

			&:nth-child(2){
				&:before{
					width: 14.8438vw;
				}
			}

			&:nth-child(3){
				&:before{
					width: 10.2083vw;
				}
			}
		}
	}
}
