.solution-section{
	background: #eaeaea;

	--header-number-color: #d0d5d6;

	&.tech-page {
		padding-top: 9.8958vw;

		.section-image{
			padding-left: 22.1354vw;
		}

		@media screen and (max-width: 991px){
			.section-image{
				padding-left: 0;
			}
		}
	}

	.section-content{
		padding: 5.7292vw 3.1250vw 3.1250vw;
	}

	.section-top{
		padding-left: 21.8750vw;
		@include h3;
	}

	.section-image{
		display: flex;
		padding-left: 9.1146vw;
		padding-bottom: 3.1250vw;

		img{
			flex: none;
			width: 35.8333vw;
			display: block;
			height: auto;
			margin-right: 5.6250vw;
		}
	}

	.solutions-list{
		padding-top: 11.4583vw;
		font-size: 1.8750vw;
		line-height: 1.4;
		font-weight: 500;
		font-style: italic;

		li{
			margin-bottom: 1.4em;
			position: relative;
			padding-right: 2.6042vw;

			&:before{
				content: '';
				display: block;
				width: 22.7604vw;
				height: 0.5729vw;
				background: url(../img/content-images/sphere-line.png) no-repeat right center / cover;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: calc(100% + 0.9375vw);
			}

			&:last-child{
				margin-bottom: 0;
			}

			&:nth-child(2){
				&:before{
					width: 14.8438vw;
				}
			}

			&:nth-child(3){
				&:before{
					width: 10.2083vw;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		padding-bottom: 20.8333vw;

		.section-content{
			padding: 5.5556vw;
		}

		.section-top{
			padding-left: 0;
		}

		.section-image{
			padding: 0;
			flex-direction: column;

			img{
				width: 68.3333vw;
				margin-right: 0;
				margin-left: 5vw;
			}
		}

		.solutions-list{
			margin-top: -1vw;
			padding-top: 0;
			font-size: 4.1667vw;
			margin-left: 25.0000vw;

			li{
				width: 41.6667vw;
				padding-right: 0;
				font-weight: 500;

				&:before{
					width: 48.6111vw !important;
					height: 1.6667vw !important;
					transform-origin: right center;
					transform: rotate(90deg);
					top: 0;
					right: calc(100% + 1.9444vw);
				}

				&:nth-child(1){
					margin-left: 21.7778vw;
				}

				&:nth-child(2){
					margin-left: 10.8889vw;

					&:before{
						width: 48.8889vw !important;
					}
				}

				&:nth-child(3){
					&:before{
						width: 61.1111vw !important;
					}
				}
			}
		}
	}
}
