.tech-info {
	padding-top: 9.8958vw;
	padding-left: 8.3333vw;
	border-top: 1px solid #c7c5c5;

	@media screen and (max-width: 991px){
		padding-top: 20vw;
		padding-right: 8.3333vw;
	}

	.info-header {
		&__title {
			@include tech-title;
			text-transform: uppercase;
			font-weight: 600;
		}
		&__line {
			margin-left: -8.3333vw;
			border-top: 1px solid #c7c5c5;
		}
		&__subtitle {
			padding-top: 2.2396vw;
			padding-right: 5.3333vw;
			font-size: 2.5000vw;
			line-height:  1.125em;
			font-style: italic;
		}

		@media screen and (max-width: 991px){
			&__title{
				max-width: unset;
			}

			&__subtitle{
				padding-top: 5vw;
				padding-right: 0;
				@include p;
			}
		}
	}
	.info-content {
		display: flex;
		margin-top: 3.9063vw;
		padding-bottom: 4.6875vw;
		padding-right: 8.3333vw;

		.attributes {
			flex: 50%;
			border-right: 1px solid #8c8c8c;
			margin-right: 2.8646vw;
			padding-top: 2.3438vw;
		}
		.benefits {
			flex: 50%;
			padding-top: 2.3438vw;
		}
		&__title {
			font-size: 1.2500vw;
			color: #008791;
			text-transform: uppercase;
			padding-bottom: 0.2604vw;
			border-bottom: 2px solid #737373;
		}
		&__list {
			margin-top: 3.9063vw;
			padding-right: 2.0833vw;
			padding-bottom: 2.6042vw;

			li {
				margin-bottom: 1.5625vw;
				&:last-child {
					margin-bottom: 0;
				}
				.item-header, ul li {
					&::before {
						font-weight: 800;
						content:"· ";
						display: inline-block;
					}
				}
				.item-header {
					font-size: 1.5625vw;
					font-weight: 500;
				}
				ul li {
					margin-top: 0.6250vw;
					margin-left: 1.4583vw;
					margin-bottom: 0.5208vw;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		@media screen and (max-width: 991px){
			margin-top: 10vw;
			padding-bottom: 15vw;
			padding-right: 0;
			flex-direction: column;

			.attributes,
			.benefits{
				width: 100%;
				margin-right: 0;
				border-right: 0;
				padding-top: 5vw;
			}

			&__title{
				@include p;
				padding-bottom: 0.6vw;
			}

			&__list{
				margin-top: 10vw;
				padding-right: 0;
				padding-bottom: 8vw;

				li{
					margin-bottom: 4vw;

					.item-header{
						font-size: 5vw;
					}

					ul li{
						margin-top: 1.5vw;
						margin-left: 4vw;
						margin-bottom: 1.5vw;
					}
				}
			}
		}
	}
}


.info-accordion{
	list-style: none;

	.item-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		&:after{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 6px 0 6px;
			border-color: $primary transparent transparent transparent;
			flex: none;
			margin-left: 12px;
			transition: all $t;
		}

		&:before{
			display: none !important;
		}
	}

	&.opened{
		.item-header:after{
			transform: rotate(-180deg);
		}
	}

	.ac-content{
		display: none;
	}
}