.top-header-mini {
	padding-top: 5.5729vw;
}
.tech-first-section {
	.main-info {
		width: 70.5729vw;
		height: 22.7083vw;
		padding: 3.6458vw 7.5521vw 2.0833vw 13.0208vw;
		clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
		background-color: #008791;
		
		&__header {
			position: relative;

			&:after{
				content: '';
				display: block;
				width: 89.4792vw;
				height: 3.1771vw;
				position: absolute;
				left: -2.3438vw;
				bottom: 0;
				background: url(../img/decorations/grundge-line-white.png) no-repeat center center / contain;
			}
		}
		&__title {
			@include h1;
			color: #fff;
			padding: 0;
			
			strong { 
				font-weight: normal;
			}
			sup {
				font-size: 0.49em;
			}
		}
		&__sub-title {
			color: #fff;
			padding-bottom: 2.3438vw;
			font-size: 1.5625vw;
		}
		&__paragraph {
			color: #fff;
			font-size: 1.8750vw;
		}
	}
	.add-info {
		max-width: 65.1042vw;
		padding: 3.3854vw 0 3.1250vw 0;
		margin-left: 8.3333vw;

		&__paragraph {
			font-size: 1.8750vw;
			font-style: italic;
		}
		&__list {
			margin-left: 27.0833vw;
			margin-top: 2.0833vw;

			li {
				font-size: 1.5625vw;
				line-height: 2em;
				&::before {
					content: '· ';
					font-size: 1.6667vw;
					display: inline-block;
				}
			}
		}
	}
}
