.thank-you-section{
	height: 100vh;
	min-height: 44.6097vw;
	background: #fff url(../img/backgrounds/thank-you-bg.png) no-repeat left top / cover;
	padding: 13.3829vw 3.7175vw 7.4349vw 27.8810vw;

	h1{
		font-size: 4.4610vw;
		line-height: 1.3;
		letter-spacing: 0.1em;
		font-weight: 500;
		font-style: italic;
		margin-bottom: 1.2vw;
	}

	.section-text{
		padding: 6.6914vw 5.2045vw 1vw 5.2045vw;
		width: 49.8141vw;
		border-left: 0.5204vw solid #000;
		font-size: 1.4870vw;
		line-height: 1.2em;
		font-weight: 300;

		p{
			margin-bottom: 1.8587vw;

			&:last-child{
				margin-bottom: 0;
			}

			&.big{
				font-size: 2.2305vw;
			}
		}
	}

	@media screen and (max-width: 991px){
		min-height: 100vh;
		padding: 20vw 5vw;
		background-position: left bottom;
		background-size: auto 70%;

		h1{
			font-size: 10vw;
		}

		.section-text{
			width: 100%;
			font-size: 5vw;

			p{
				margin-bottom: 3vw;

				&.big{
					font-size: 8vw;
				}
			}
		}
	}
}