.page-template-company {
    .page-content {
        position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &::before {
            right: 0;
            top: 8.9271vw;
            background-image: url(../img/decorations/company-new.png);
            width: 29.3542vw;
            height: 40.7396vw;
        }
        &::after { 
            right: 0;
            bottom: 31.2500vw;
            top: initial; 
            background-image: url(../img/decorations/company-bottom.png); 
            width: 27.0833vw;
            height: 39.7917vw; 
        }
    }
}