.header{
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	background: transparent;
	padding: 0.7813vw 0;
	transition: padding-top $t, padding-bottom $t, background $t;

	.thankyou &,
	.thank-you &{
		display: none;
	}

	&:after{
		content: '';
		display: block;
		width: calc(100% - 1.5625vw * 2);
		height: 1px;
		background: #fff;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
	}

	&.sticky,
	&.nav-opened{
		background: #fff;
	}

	.header-inner{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: calc(100% + 0.7813vw * 2);
		margin-left: -0.7813vw;
		margin-right: -0.7813vw;
	}

	.header-block{
		padding: 0 0.7813vw;

		&.header-right{
			display: flex;
			align-items: center;

			.top-nav{
				margin-right: 4.4271vw;
			}
		}
	}

	.stay-in-touch{
		background: #fff;
		padding: 0.5208vw 2.6042vw;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		white-space: nowrap;
		font-size: 0.9375vw;
		color: #000;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 1.1458vw;

		&:hover,
		&:focus{
			outline: none;
			background: #0c7476;
			color: #fff;
		}
	}

	&.sticky,
	body:not(.home) &{
		.stay-in-touch{
			outline: none;
			background: #0c7476;
			color: #fff;
		}
	}

	@media screen and (max-width: 991px){
		padding: 3.3333vw 0;

		.header-inner{
			align-items: center;
		}

		&:after{
			display: none;
		}

		&.sticky,
		&.nav-opened{
			background: #eaeaea;
		}
	}
}

.logo-block{
	display: block;
	position: relative;

	img{
		height: 6.5625vw;
		display: block;
		width: auto;
		transition: all $t;

		&.on-light-bg{
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
		}

		&.on-dark-bg{
			opacity: 1;
		}

		.sticky &,
		.nav-opened &,
		body:not(.home) &{
			height: 4vw;

			&.on-light-bg{
				opacity: 1;
			}

			&.on-dark-bg{
				opacity: 0;
			}
		}

		.sticky &{
			height: 4vw;
		}

		@media screen and (max-width: 991px){
			height: 21.9444vw !important;

			.sticky &{
				height: 13.8889vw !important;
			}
		}
	}
}

.top-nav{
	> ul{
		display: flex;

		> li{
			font-size: 1.2500vw;
			font-weight: 600;
			margin-right: 2.0833vw;

			&:last-child{
				margin-right: 0;
			}

			&.menu-item-has-children{
				position: relative;

				.sub-menu{
					position: absolute;
					left: -1.5625vw;
					top: calc(100% + 1.0417vw);
				}

				&:hover,
				&:focus-within{
					.sub-menu{
						transform: translateY(0);
						opacity: 1;
						visibility: visible;
					}
				}
			}

			> a{
				font-size: 1.2500vw;
				font-weight: 600;
				line-height: 1.2;
				text-transform: uppercase;
				color: #000;

				&:hover,
				&:focus{
					outline: none;
					color: #0c7476;
				}
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			> a{
				color: #0c7476;
			}
		}
		
		&.current-menu-item{
			> a{
				cursor: default;
			}
		}
	}

	.sub-menu{
		background: #fff;
		border-radius: 0.4167vw;
		transform: translateY(1.5625vw);
		opacity: 0;
		visibility: hidden;
		transition: all $t;
		min-width: 10vw;

		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 1.0417vw;
			position: absolute;
			left: 0;
			bottom: 100%;
		}

		li{
			border-bottom: 1px solid #7a7a7a;

			&:last-child{
				border-bottom: 0;
			}

			a{
				padding: 1.0417vw 1.3021vw;
				display: block;
				font-size: 0.9375vw;
				line-height: 1.2;
				font-weight: 600;
				color: $text-color;
				text-transform: uppercase;

				&:hover,
				&:focus{
					outline: none;
					color: #0c7476;
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				a{
					color: #0c7476;
				}
			}
			
			&.current-menu-item{
				a{
					cursor: default;
				}
			}
		}
	}
}

.mobile-top-nav{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	transform: translateY(-40px);
	opacity: 0;
	visibility: hidden;
	transition: all $t;
	--header-height:28.3333vw;
	height: calc(100vh - var(--header-height));
	background: #eaeaea;
	overflow-y: auto;
	overscroll-behavior-y: contain;

	.sticky &{
		--header-height: 20.5556vw;
	}

	&.opened{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

.mobile-nav{
	display: grid;
	grid-gap: 4vw;

	li{
		border-bottom: 1px solid #989898;

		a{
			font-size: 5.0000vw;
			display: block;
			line-height: 12.2222vw;
			font-weight: 500;
			text-transform: uppercase;
			color: #000000;
			padding: 0 5.5556vw;
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				color: $primary;
			}
		}
		
		&.current-menu-item{
			a{
				cursor: default;
			}
		}
	}
}

.mobile-contacts-list{
	margin-top: 16.6667vw;
	margin-bottom: 5.5556vw;

	li{
		border-bottom: 1px solid #989898;

		&:last-child{
			border-bottom: 0;
		}

		a{
			display: flex;
			align-items: center;
			font-size: 5.0000vw;
			line-height: 12.2222vw;
			position: relative;
			padding-left: 15.5556vw;
			color: #000;

			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 5.5556vw;
			}

			&[href^="mailto"]{
				&:before{
					width: 4.4444vw;
					height: 3.0556vw;
					background: url(../img/icons/envelope.png) no-repeat center center / contain;
				}
			}

			&[href^="tel"]{
				&:before{
					width: 3.3333vw;
					height: 3.3333vw;
					background: url(../img/icons/phone.png) no-repeat center center / contain;
				}
			}
		}
	}
}